*{
	margin: 0px;
	padding: 0px;
}

body{
	width: 100%;
	display: -webkit-box;
	-webkit-box-pack: center; 
}
nav{
	width: 100%;

}
#wrapper{
	width: 1300px;
	margin: 10px auto;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-box-flex: 1;
}
#sec_wrapper{
	display: -webkit-box;
	-webkit-box-orient: horizontal;
}
header{
	padding: 20px;
}
section{
	border: 2px solid blue;
	-webkit-box-flex: 1;
	margin: 10px;
	padding: 10px;
	display: -webkit-box;
	-webkit-box-pack: center;
}
aside{
	border: 2px solid red;
	width: 700px;
	margin: 10px;
	padding: 10px;
}
table, th, td{
	border: 1px solid black;
}
table{
	width: 100%;
}


.section{
	float: left;
	width: 50%;
	height: 100%;
}
.frame1{
	align: "left";
	border: none;
	width: 49.5%;
	height: 600px;
	background: pink;
}
.frame2{
	align: "right";
	border: none;
	width: 49.5%;
	height: 600px;
	background: pink;
}
.button{
	display: inline-block;
	padding: 10px 25px;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	outline: none;
	color: #fff;
	background-color: #4CAF50;
	border: none;
	border-radius: 15px;
	
}
.button:hover{
	background-color: #3e8e41
}
.button:active{
	background-color: #3e8e41;
	transform: translateY(0px);
}