input#editbtn{
	width: 100px;
}
table{
	margin-top: 10px;
	width: 100%;
	text-align: center;
}
th, tr{
	text-align: center;
}
th#player{
	text-align: center;
}
tr#head-schedule{
	background-color: #971B97;
	color: white;
}
tr#head-player{
	background-color: #2E23C6;
	color: white;
}
td{
	text-align: center;
}
#no{
	text-align: center;
	width: 5%;
}
#save{
	text-align: center;
	width: 10%;
}
#d2s, #d2e{
	text-align: center;
	width: 20%;
}
#t2s, #t2e{
	text-align: center;
	width: 20%;
}
#pList{
	text-align: center;
	width: 20%;
}

#first{
	width: 40%;
}
#final{
	width: 10%;
	text-align: right;
}
#deploy{
	text-align: right;
}
.section{
	
}
#playlistToSch{
	width: 80%;
}
#group, #playlist{
	width: 60%;
}

select, option{
	width: 50%;
	height: 120%;
	padding: 5px 0px;
	
}
select, option:hover{
	
}
select#playlistToSch{
	width: 100%;
	margin-bottom: 10px;
}
input#add{
	width: 100%;
}
input[type='date']{
	width: 100%;
	margin-bottom: 10px;
}
input[type='time']{
	width: 100%;
	margin-bottom: 10px;
}
p#status[target='online']{
	color : green;
}
p#status[target='offline']{
	color : red;
}