input#editbtn{
	width: 100px;
}
table{
	margin: 10px;
	width: 100%;
	text-align: center;
}
th, tr{
	text-align: center;
}
td{
	text-align: center;
}
#no{
	text-align: center;
	width: 5%;
}
#save{
	text-align: center;
	width: 10%;
}
#d2s, #d2e{
	text-align: center;
	width: 20%;
}
#t2s, #t2e{
	text-align: center;
	width: 20%;
}
#pList{
	text-align: center;
	width: 20%;
}

#first{
	width: 40%;
}
#final{
	width: 10%;
	text-align: right;
}
#deploy{
	text-align: right;
}
.section{
	
}
#playlistToSch{
	width: 80%;
}
#group, #playlist{
	width: 60%;
}

select, option{
	width: 50%;
	height: 120%;
	padding: 5px 0px;
	
}
select, option:hover{
	
}
input[type='date']{
	width: 70%;
}
input[type='time']{
	width: 50%;
}