
@import "http://fonts.googleapis.com/css?family=Raleway";
/*----------------------------------------------
CSS settings for HTML div Exact Center
------------------------------------------------*/
div#abc {
	margin: 5px;
	width:100%;
	height:100%;
	opacity:.95;
	top:-30px;
	left:-30px;
	display: none;
	position: fixed;
	background-color:#313131;
	overflow: auto;


}
div#abcd{
	margin: 5px;
	width:100%;
	height:100%;
	opacity:.95;
	top:-30px;
	left:-30px;
	display:none;
	position: fixed;
	background-color:#313131;
	overflow:auto;
}
div#abcplaylist{
	margin: 5px;
	width:100%;
	height:100%;
	opacity:.95;
	top:-30px;
	left:-30px;
	display:none;
	position: fixed;
	background-color:#313131;
	overflow:auto;
}
div#abcregplay{
	margin: 5px;
	width:100%;
	height:100%;
	opacity:.95;
	top:-30px;
	left:-30px;
	display:none;
	position: fixed;
	background-color:#313131;
	overflow:auto;
}
div#abcgroup{
	margin: 5px;
	width:100%;
	height:100%;
	opacity:.95;
	top:-30px;
	left:-30px;
	display:none;
	position: fixed;
	background-color:#313131;
	overflow:auto;
}
div#deploy_form{
	margin: 5px;
	width:100%;
	height:100%;
	opacity:.95;
	top:-30px;
	left:-30px;
	display:none;
	position: fixed;
	background-color:#313131;
	overflow:auto;
}
img#close {
	position:absolute;
	right:-14px;
	top:-14px;
	cursor:pointer;
}
div#popupContact {
	position:absolute;
	left:50%;
	top:17%;
	margin-left:-350px;
	font-family:'Raleway',sans-serif;
}
form {
	max-width:650px;
	min-width:450px;
	padding:10px 50px;
	border:2px solid gray;
	border-radius:10px;
	font-family:raleway;
	background-color:#fff;
}
p {
	margin-top:30px;
}
h2 {
	background-color:#FEFFED;
	padding: 20px 35px;
	margin:-10px -50px;
	text-align:center;
	border-radius:10px 10px 0 0;
}
hr {
	margin:10px -50px;
	border:0;
	border-top:1px solid #ccc;
	}
input[type=text] {
	width:60%;
	padding:10px;
	border:1px solid #ccc;
	padding-left:40px;
	font-size:16px;
	font-family:raleway;
}

span {
	color:red;
	font-weight:700;
}
button {
	width:13%;
	height:45px;
	border-radius:3px;
	background-color:#cd853f;
	color:#fff;
	font-family:'Raleway',sans-serif;
	font-size:18px;
	cursor:pointer;
}

