@import "http://fonts.googleapis.com/css?family=Raleway";

#button{
	margin-bottom: 10px;
	width: 100px;
}
#ticker{
	width: 100%;
	margin: 10px;
}
#behavior{
	width: 100%;
	margin: 10px;
}
#save{
	width: 100%;
	margin: 10px;
}
#addToPlaylist{
	width: 100%;
	height: 100%;
	padding: none;
	border: none;
}
#form_ticker{
	margin: 5px;
	width:100%;
	height:100%;
	opacity:.95;
	top:-5px;
	left:-5px;
	display: none;
	position: fixed;
	background-color:#313131;
	overflow: auto;

}
#form_layout{
	margin: 5px;
	width:100%;
	height:100%;
	opacity:.95;
	top:-5px;
	left:-5px;
	display: none;
	position: fixed;
	background-color:#313131;
	overflow: auto;

}
#assets_play{
	margin: 5px;
	width:100%;
	height:100%;
	opacity:.95;
	top:-5px;
	left:-5px;
	display: none;
	position: fixed;
	background-color:#313131;
	overflow: auto;

}
#clear{
	margin-bottom: 15px;
}

.popup{
	max-width:700px;
	min-width:700px;
	padding:10px 50px;
	border:2px solid gray;
	border-radius:10px;
	font-family:raleway;
	background-color:#fff;
}
.popupPlay{
	max-width:1250px;
	max-height: 700px;
	height: 500px;
	padding:10px 50px;
	border:2px solid gray;
	border-radius:10px;
	font-family:raleway;
	background-color:#fff;
}
b{
	float: right;
	margin: 10px;
}
aside{
	max-width: 550px;
	width: 100%;
	float: left;
}

table#assets{
	width: 100%;
	height: 100%;
}
section{
	max-width: 550px;
	width: 100%;
	float: right;
}
th#main{
	text-align: center;

	background-color: #14A6C6
}
th#front{
	width: 10%;
}
th#ass{
	vertical-align: middle;
	text-align: center;
	width: 30%;
}
th#mid{
	vertical-align: middle;
	text-align: center;
	width: 50%;
}
th#check{
	vertical-align: middle;
	text-align: center;
	width: 10%;
}
td#tick{
	vertical-align: middle;
	text-align: center;
}
td#thumb{
	vertical-align: middle;
	text-align: center;
}
img#close {
	position:absolute;
	right:-14px;
	top:-14px;
	cursor:pointer;
}
img#closePlay {
	position:absolute;
	right:60px;
	top: 40px;
	cursor:pointer;
}
div#popupContact {
	position:absolute;
	left:50%;
	top:17%;
	margin-top: -50px;
	margin-left:-350px;
	font-family:'Raleway',sans-serif;
}
div#popupPlay {
	position: initial;
	left:50%;
	top:17%;
	margin: 50px;
	font-family:'Raleway',sans-serif;
}
div#popupLayout {
	position:absolute;
	left:50%;
	top:17%;
	margin-top: -50px;
	margin-left:-350px;
	font-family:'Raleway',sans-serif;
}
h2{
	text-align: center;
	font-size: 6;
}
input[type="number"]{
	width: 10%;
}
select{
	margin-bottom: 5px;
}
#time{
	width: 50%;
	margin-top: 5px;
}
#th{
	color: white;
}
