table{
	margin-top: 10px;
	align: center;
}
.title_table{
	text-align: center;
}
th{
	background-color: #D7643D;
	color: white;
}
th#playlist, th#des{
	width:45%;
}
td{
	text-align: center;
}
td#edit{
	text-align: center;
}

aside{
	width: 100%;
}
#insert, #edit{
	margin-right: 10px;
}
input, #add, #description{
	width: 100%;
}
#name, #des{
	width: 100%;
}
input[type='text']{
	width: 100%;
}
button{
	width: 100%;
}
a{
	cursor: pointer; 
}