@import "http://fonts.googleapis.com/css?family=Raleway";
img#close {
	position:absolute;
	right:-14px;
	top:-14px;
	cursor:pointer;
}
div#popupContact {
	position:absolute;
	left:50%;
	top:17%;
	margin-top: -50px;
	margin-left:-350px;
	font-family:'Raleway',sans-serif;
}
div#abcregplay{
	margin: 5px;
	width:100%;
	height:100%;
	opacity:.95;
	top:-5px;
	left:-5px;
	display:none;
	position: fixed;
	background-color:#313131;
	overflow:auto;
}
form {
	max-width:700px;
	min-width:700px;
	padding:10px 50px;
	border:2px solid gray;
	border-radius:10px;
	font-family:raleway;
	background-color:#fff;
}
h2 {
	background-color:#FEFFED;
	padding: 20px 35px;
	margin:-10px -50px;
	text-align:center;
	border-radius:10px 10px 0 0;
}
hr {
	margin:10px -50px;
	border:0;
	border-top:1px solid #ccc;
}
label{
	font-size:16px;
	font-family:raleway;
}
table{
	margin: 10px;
}
tr#head_table{
	background-color: #4A29DB;
	color: white;
	text-align: center;
}
th#name{
	text-align: center;
	width: 15%;
}
th#ip{
	text-align: center;
	width: 15%;
}
th#mac{
	text-align: center;
	width: 15%;
}
th#locate{
	text-align: center;
	width: 15%;
}
th#state{
	text-align: center;
	width: 15%;
}
th#group{
	text-align: center;
	width: 15%;
}
td{
	text-align: center;
}
input#editbtn{
	width: 100px;
}
input[type="text"], select#groupPlayer{
	margin-bottom: 10px;
}
a{
	cursor: pointer;
}