*{
	margin: 0px;
	padding: 0px;
}

body{
	width: 100%;
	height: 200px;
	display: -webkit-box;
	-webkit-box-pack: center; 
}
nav{
	width: 100%;

}
#wrapper{
	width: 1300px;
	margin: 10px auto;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-box-flex: 1;
}
#sec_wrapper{
	display: -webkit-box;
	-webkit-box-orient: horizontal;
}
header{
	padding: 20px;
}
section{
	width: 100%;
	border: 2px;
	-webkit-box-flex: 1;
	margin: 10px;
	padding: 10px;
	display: -webkit-box;
	-webkit-box-pack: center;
}
article{
	width: 100%;
}
aside{
	border: 2px;
	width: 900px;
	margin: 10px;
	padding: 10px;
}
table, th, td{
	border: 0px solid blue;
	border-collapse: collapse;

}
table{
	width: 100%;
	table-layout: fixed;
}
th{
	background-color: #F50057;
	height: 50px;
	color: white;

}
#description{
	width: 60%;
}

td{
	border: 1px solid #F50057;
	border-collapse: collapse;
	text-align: left;
  	vertical-align:middle;
  	padding: 15px;	
}


.tab{
	text-align: right;
}

#addList{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	width: 100%;
	height: 100%;
	padding: 10px;
	margin-bottom: 5px;
	text-align: center;
	color: #fff;
	background-color: #4CAF50;
	border: none;
	cursor: default;
}
#addList{
	
	width: 100%;
	padding: 5px;
	
}
.section{
	float: left;
	width: 50%;
	height: 100%;
}
.frame1{
	align: "left";
	border: none;
	width: 49.5%;
	height: 600px;
	background: pink;
}
.frame2{
	align: "right";
	border: none;
	width: 49.5%;
	height: 600px;
	background: pink;
}
.button{
	display: inline-block;
	padding: 10px 25px;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	outline: none;
	color: #fff;
	background-color: #4CAF50;
	border: none;
	border-radius: 15px;
	
}
.button:hover{
	background-color: #3e8e41
}
.button:active{
	background-color: #3e8e41;
	transform: translateY(0px);
}

input[type=text], select{
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0px;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}
input[type=submit]{
	background-color: #4cAF50;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}
input[type=submit]:hover{
	background-color: #45a049;
}
