<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Sample File Upload</title>
    <link rel="stylesheet" type="text/css" href="/css/menu.css">
    <link rel="stylesheet" type="text/css" href="/css/assets.css">
    <script src="https://cdn.socket.io/socket.io-1.3.3.js"></script>
</head>
<body>
	
	<div id="wrapper">
		<header>
			<h1>Picture</h1>
		</header>
		<nav>
			<ul>
	          <span class="glyphicon glyphicon-search" aria-hidden="true"></span>` 
	          <li><a class="active" href="/">Home</a></li>
	          <li><a href="/playlist">Playlist</a></li>
	          <li><a href="/assets">Assets</a></li>
	          <li><a href="/setting">Setting</a></li>
	        </ul>
		</nav>
		<div id="sec_wrapper" name="sec_wrapper">
			<section>
				<article>
					<header>
						<h1>Your Assets</h1>
					</header>
					<form action="/assets/upload" method="post" enctype="multipart/form-data">
				        Select asset: <input class="button" type="file" name="file">
				        <input class="button" type="submit" value="Upload">
				    </form>
				</article>
			</section>
			<aside>
				<table id="list">
					
				</table>
				
			</aside>
		</div>
		<footer>
			
		</footer>
	</div>

	<script type="text/javascript">
		var socket = io();
		var i;
		socket.on('assets', function(message){
			var list = document.getElementById("list");
			for(i = 0; i < message.length; i++){
				list.innerHTML += "<tr><td>"+message[i].assetsName + "</td></tr>";
			}
			
		});
	</script>
</body>
</html>