<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Sample File Upload</title>
    <link rel="stylesheet" type="text/css" href="/css/menu.css">
    <link rel="stylesheet" type="text/css" href="/css/assets.css">
    <script src="https://cdn.socket.io/socket.io-1.3.3.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script>
		$(document).ready(function(){
		    $("#video").click(function(){
		        $("#videoUpload").slideToggle("fast");
		        if($("#imageUpload").is(":visible")){
		        	$("#imageUpload").slideToggle("fast");
		        }
		    });
		    $("#image").click(function(){
		        $("#imageUpload").slideToggle("fast");
		        if($("#videoUpload").is(":visible")){
		        	$("#videoUpload").slideToggle("fast");
		        }
		    });
		});
		
	</script>
	<script type="text/javascript">
		function checkImage(id, ext){
			if(validateExtension(ext) == false){
				alert("Upload jpg, png, gif type only.");
				var fileInput = $("#imageFile");
				fileInput = fileInput.val('').clone(true);
			}
			return;
		}
		function validateExtension(v){
			var allowedExtensions = new Array("jpg","JPG","jpeg","JPEG","png","PNG","gif","GIF");
			var sample;
			for(var ct=0; ct<allowedExtensions.length; ct++){
				sample = v.lastIndexOf(allowedExtensions[ct]);
				if(sample != -1) return true;
			}
			return false;
		}
		function checkVideo(id, ext){
			if(vValidateExtension(ext) == false){
				alert("Upload mp4, 3gp, avi type only.");
				var fileInput = $("#videoFile");
				fileInput = fileInput.val('').clone(true);
			}
			return;
		}
		function vValidateExtension(v){
			var allowedExtensions = new Array("mp4","MP4","3gp","3GP","avi","AVI");
			var sample;
			for(var ct=0; ct<allowedExtensions.length; ct++){
				sample = v.lastIndexOf(allowedExtensions[ct]);
				if(sample != -1) return true;
			}
			return false;
		}
		
	</script>
</head>
<body>
	
	<div id="wrapper">
		<header>
			<h1>Picture</h1>
		</header>
		<nav>
			<ul>
	          <span class="glyphicon glyphicon-search" aria-hidden="true"></span>` 
	          <li><a class="active" href="/">Home</a></li>
	          <li><a href="/playlist">Playlist</a></li>
	          <li><a href="/assets">Assets</a></li>
	          <li class="dropdown">
	          	<a href="#" class="dropbtn">Manage Player</a>
		        <div class="dropdown-content">
				    <a href="/player">Players</a>
				    <a href="/group">Groups</a>
				</div>
	          </li>
	          <li><a href="/setting">Setting</a></li>
	        </ul>
		</nav>
		<div id="sec_wrapper" name="sec_wrapper">
			<section>
				<article>
					<div id="video">Upload Videos</div>
					<form id="videoUpload" action="/assets/uploadVideo" method="post" enctype="multipart/form-data">
				        Select video: <input id="videoFile" class="button" type="file" name="file" accept="video/*" require="require" onChange="checkVideo(this.id, this.value)">
				        <input class="button" type="submit" value="Upload">
				    </form>
				    <div id="image">Upload Images</div>
				    <form id="imageUpload" action="/assets/uploadImage" method="post" enctype="multipart/form-data">
				        Select image: <input id="imageFile" class="button" type="file" name="file"  accept="image/*" require="require" onChange="checkImage(this.id, this.value)">
				        <input class="button" type="submit" value="Upload">
				    </form>
				</article>
			</section>
			<aside>
				<table>
					<tr>
						<th>Assets</th>
					</tr>
					<tbody id="list">
						
					</tbody>
				</table>
				
			</aside>
		</div>
		<footer>
			
		</footer>
	</div>

	<script type="text/javascript">
		var socket = io();
		var i;
		var string = '';
		socket.on('assets', function(message){
			var list = document.getElementById("list");
			for(i = 0; i < message.length; i++){
				string += "<tr><td>Asset Name : "+message[i].assetsName+"<p align=\"right\">Upload by : "+message[i].userName + "</p>";
				string += "Type : "+message[i].type+ "<br>";
				string += "Upload time : "+message[i].time+ "<br></td></tr>";
			}
			list.innerHTML = string;
			
			
		});
	</script>
</body>
</html>