<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Groups</title>
    <link rel="stylesheet" type="text/css" href="/css/menu.css">
    <link rel="stylesheet" type="text/css" href="/css/group.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link href="css/elements.css" rel="stylesheet">
    <script src="js/my_js.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.3.3.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script>
		$(document).ready(function(){
		    $("#regGroup").click(function(){
		        $("#register").slideToggle("fast");
		        /*if($("#manage").is(":visible")){
		        	$("#manage").slideToggle("fast");
		        }*/
		    });
		});
		
	</script>
	<script type="text/javascript">
		var socket = io();
		var i;

		socket.emit('route', 'playlist');
		socket.on('playlist', function(message){
			var list = document.getElementById("plailist");
			var string = '';
			for(i = 0; i < message.length; i++){
				string += "<option value="+message[i].plailistId+">"+message[i].playlistName+"</option>";
			}
			list.innerHTML = string;
			
			
		});

	</script>
	<script src="js/w3data.js"></script>
</head>
<body>

	<div  w3-include-html="menu.html"></div>
	<script id="menu">w3IncludeHTML();</script> 
	
	
	
	<div id="deploy_form">
		<!-- Popup Div Starts Here -->
		<div id="popupContact">
			<!-- Contact Us Form -->
			<form id="addGroup" method="post" action="/deploy">
				<img id="close" src="images/3.png" onclick ="div_hideDeploy()">
				<h2>Deploy</h2>
				<hr>
				<label for="group">Playlist</label><br>
				<select id="plailist" name="playlist">
					<option value="dd">testt</option>
				</select><br><br>
				<label for="description">Short Description</label><br>
				<input type="text" id="description" name="description"><br><br>
				<input id="buttonsub" class="btn btn-success" type="submit" value="Deploy">
		     </form>
		</div>
		<!-- Popup Div Ends Here -->
	</div>			

	
	<div id="wrapper" class="container">
  			<div class="panel-group">
   			<div class="panel panel-success">
   	   		<div class="panel-heading">Deploy</div>
      			<div class="panel-body">
      			
      			
		<div id="sec_wrapper" name="sec_wrapper">
			<section>
		
			</section>
			<aside>
				<form id="addGroup" method="post" action="/deploy">
				
				
			
				<label for="group">Playlist</label>
				<select id="plailist" name="playlist">
					<option value="dd">testt</option>
				</select>
				<label for="description">Short Description</label>
				<input type="text" id="description" name="description">
				<input id="buttonsub" class="btn btn-success" type="submit" value="Deploy">
		     </form>
				
			</aside>
		</div>
		
		
					</div>							
      			</div>
	    		</div>
    		</div>
</body>
</html>