<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Groups</title>
    <link rel="stylesheet" type="text/css" href="/css/menu.css">
    <link rel="stylesheet" type="text/css" href="/css/deploy.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link href="css/elements.css" rel="stylesheet">
    <script src="js/my_js.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.3.3.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	
	<script type="text/javascript">
		var listPlaylist = [];
		var index=0;
		var socket = io();
		var count = 0;
		socket.emit('route', 'playlist');
		socket.on('playlist', function(message){

			var list = document.getElementById("playlist");
			var string = "<option disabled selected value> -- select playlist for deploy--</option>";
			var play = [];
			var dex = [];

			for(i = 0; i < message.length; i++){
				string += "<option value=\""+message[i].playlistId+"\">"+message[i].playlistName+"</option>";
				play.push(message[i].playlistName);
				dex.push(message[i].playlistId);
			}
			listPlaylist.push(dex);
			listPlaylist.push(play);
			
			list.innerHTML = string;
			/*try{
				var listPlay = document.getElementById('edit');
				listPlay.innerHTML = string;
			}catch(err){

			}*/
		});
		var id = getUrlVars()['id'];
		socket.emit('route', 'player_in_group');
		socket.emit('player_in_group', id);
		socket.on('player_in_group', function(message){
			var list = document.getElementById("list");
			var string = '';
			if(message.length <= 0){
				string += "<tr><td colspan=6 style=\"text-align: center;  vertical-align: middle; height:200px\"><h4>No Player in this Group</h4></td></tr>"; 
			}else{
				for(i = 0; i < message.length; i++){
					string += "<tr><td>"+message[i].name+"</td>";
					string += "<td>"+message[i].ip+ "</td>";
					string += "<td>"+message[i].playerMac+ "</td>";
					string += "<td>"+message[i].location+ "</td>";
					string += "<td><p id=\"status\" target=\""+message[i].status+"\">"+message[i].status+"</p></td>";
					string += "<td>"+message[i].groupName+ "</td></tr>";		
				}
			}
			list.innerHTML = string;
			var headText = document.getElementById("headText");
			headText.innerHTML = "Group "+message[0].groupName;
		});

		var groupId = getUrlVars()['id'];
		socket.emit('schedule', groupId);
		socket.on('schedule', function(message){
			var list = document.getElementById("addSchedule");
			var string = '';
			index = 0;
			if(message.length <= 0){
				string += "<tr><td colspan=7 style=\"text-align: center;  vertical-align: middle; height:200px\"><h4>No Schedule</h4></td></tr>"; 
			}else{
				for(i = 0; i < message.length; i++){
					index = index+1;
					count = count+1;
					var scheId = message[i].scheduleId;
					var playlistId = message[i].playlistId;
					var playlistName = message[i].playlistName;
					var dateStart = getDateFormat(message[i].dateStart);
					var timeStart = message[i].timeStart;
					var dateEnd = getDateFormat(message[i].dateEnd);
					var timeEnd = message[i].timeEnd;

					string += "<tr id=\""+scheId+"\"><td>"+index+"</td>";
					string += "<td>"+playlistName+"</td>";
					string += "<td>"+dateStart+"</td>";
					string += "<td>"+timeStart+"</td>";
					string += "<td>"+dateEnd+"</td>";
					string += "<td>"+timeEnd+"</td>";	
					string += "<td><a onclick=\"editSchedule(\'"+scheId+"\',\'"+playlistId+"\',\'"+playlistName+
					"\',\'"+dateStart+"\',\'"+timeStart+"\',\'"+dateEnd+"\',\'"+timeEnd+"\',\'"+index+"\')\">Edit</a></td></tr>";	
				}
			}
			
			list.innerHTML = string;

		});

		function editSchedule(id, playId, playName, dateStart, timeStart, dateEnd, timeEnd, index){
			var sche = document.getElementById(id);
			var string = ' ';
			string += "<td>"+index+"</td>";
			string += "<td><select name=\""+id+"playlistName\" id=\"edit\" class=\"form-control\">";
			//alert(listPlaylist[0][1]);
			//alert(id);
			
			for(var i = 0; i < listPlaylist[0].length; i++){
				
				if(playId == listPlaylist[0][i]){
					string += "<option value=\""+playId+"\" selected>"+playName+"</option>";
				}else{
					string += "<option value=\""+listPlaylist[0][i]+"\">"+listPlaylist[1][i]+"</option>";
				}
			}
			string += "</select></td>";
			string += "<td><input id=\""+id+"dateStart\" type=\"date\" value=\""+dateStart+"\" class=\"form-control\"></td>"; 
			string += "<td><input id=\""+id+"timeStart\" type=\"time\" value=\""+timeStart+"\" class=\"form-control\"></td>"; 
			string += "<td><input id=\""+id+"dateEnd\" type=\"date\" value=\""+dateEnd+"\" class=\"form-control\"></td>";
			string += "<td><input id=\""+id+"timeEnd\" type=\"time\" value=\""+timeEnd+"\" class=\"form-control\"></td>";
			string += "<td><a onclick=\"updateSchedule(\'"+id+"\')\">Save</a> <a onclick=\"deleteSchedule(\'"+id+"\',\'"+index+"\')\">Delete</a></td>";
			sche.innerHTML = string;
			//socket.emit('route', 'playlist');

		}
		function updateSchedule(id){
			var sche = id;
			var playlist = document.getElementsByName(id+'playlistName')[0].value;
			var dateStart = document.getElementById(id+'dateStart').value;
			var timeStart = document.getElementById(id+'timeStart').value; 
			var dateEnd = document.getElementById(id+'dateEnd').value;
			var timeEnd = document.getElementById(id+'timeEnd').value;

			
			var groupId = getUrlVars()['id'];
			socket.emit('update-schedule', {sche, playlist, dateStart, timeStart, dateEnd, timeEnd, groupId});
			socket.emit('schedule', groupId);
		}
		function deleteSchedule(id, index){
			if(confirm('Delete Schedule No. = '+index+" ?")){
				var sche = document.getElementById(id);
				var string = ' '; 
				count = count - 1;
				if(count==0){
					string += "<tr><td colspan=7 style=\"text-align: center;  vertical-align: middle; height:200px\"><h4>No Schedule</h4></td></tr>"; 
				}
				sche.innerHTML = string;
				socket.emit('delete-schedule', id);
			}else{

			}
		}
		function getDateFormat(date){
			var noneDate = date.substring(0, 7);
			var haveDate = parseInt(date.substring(8, 10)) + 1;
			return noneDate +"-"+haveDate.toString();
		}

		function getUrlVars()
		{
		    var vars = [], hash;
		    var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
		    for(var i = 0; i < hashes.length; i++)
		    {
		        hash = hashes[i].split('=');
		        vars.push(hash[0]);
		        vars[hash[0]] = hash[1];
		    }
		    return vars;
		}
		var scheduleString = '';
		
		function addSchedule(){ 
			index = index + 1;
			id = document.getElementById('addSchedule');
			scheduleString += "<tr><td>"+index+"</td>";
			scheduleString += "<td><select id=\"playlistToSch\">";
			scheduleString += "<option disabled selected value> -- select playlist for deploy--</option>";
			for(var j = 0; j < listPlaylist[1].length; j++){
				scheduleString += "<option value=\""+listPlaylist[0][j]+"\">"+listPlaylist[1][j]+"</option>";
					
			}
			scheduleString += "</select></td>";
			scheduleString += "<td><input id=\"dateStart\" type=\"date\"></td>";
			scheduleString += "<td><input id=\"timeStart\" type=\"time\"><br></td>";
			scheduleString += "<td><input id=\"dateEnd\" type=\"date\"></td>";
			scheduleString += "<td><input id=\"timeEnd\" type=\"time\"></td>";
			scheduleString += "<td><input class=\"btn btn-success\" type=\"submit\" value=\"Delete\"></td></tr>";
			scheduleString += "<td><input class=\"btn btn-success\" type=\"submit\" value=\"Delete\"></td></tr>";
			id.innerHTML = scheduleString;
			//getPlaylist();*/

		}

		function getPlaylist(){
			socket.emit('route', 'playlist');
			socket.on('playlist', function(message){
				var list = document.getElementById("playlistToSch");
				var string = "<option disabled selected value> -- select playlist for deploy--</option>";
				for(i = 0; i < message.length; i++){
					string += "<option value=\""+message[i].playlistId+"\">"+message[i].playlistName+"</option>";
				}
				list.innerHTML = string;	
			});
		}

		window.onload = function(){
			var form1 = document.getElementById("form1");
			var formString = "<form  id=\"def_fault\" method=\"POST\" action=\"/deploy?id="+getUrlVars()['id']+"\">"
						+"<table>"
							+"<tr>"
								+"<th id=\"first\">"
									+"<label for=\"playlist\">Set Default Playlist </label>"
									+"<select class=\"form-control\" id=\"playlist\" name=\"playlist\">"
									+"</select>"
								+"</th>"
								+"<th>"
									
								+"</th>"
								+"<th id=\"final\"><button id=\"deploy\" type=\"submit\" class=\"btn btn-success\" onclick=\"return confirm(\'Confirm for deploy\')\">Deploy</button>	</th>"
							+"</tr>"
						+"</table>"
					+"</form>";
			//var formString = "<button id=\"deploy\" type=\"submit\" class=\"btn btn-success\">Deploy</button>";
			form1.innerHTML = formString;

			var group = document.getElementById('groupId');
			var string = "<input name=\"groupId\" type=\"hidden\" value=\""+getUrlVars()['id']+"\">";
			group.innerHTML = string;
		};
		
		function setSchedule(){
			var playlist = document.getElementById('playlistToSch').value;
			var d2s = document.getElementById('dateStart').value;
			var t2s = document.getElementById('deftimeStart').value;
			var d2e = document.getElementById('dateEnd').value;
			var t2e = document.getElementById('timeEnd').value;
			var package = [d2s, d2e, t2s, t2e, playlist, getUrlVars()['id']];
			alert(playlist);
			socket.emit('setSchedule', package);
			var groupId = getUrlVars()['id'];
			socket.emit('schedule', groupId);
		}
		
		function checkConfirm(){

		}
		
		for(var j = 0; j < listPlaylist[1].length; j++){
			scheduleString += "<option value=\""+listPlaylist[0][j]+"\">"+listPlaylist[1][j]+"</option>";
					
		}		
	</script>
	<script src="js/w3data.js"></script>
</head>
<body>

	<div  w3-include-html="menu.html"></div>
	<script id="menu">w3IncludeHTML();</script> 
	
	
	
	
						<div id="abcadddate">
						<!-- Popup Div Starts Here -->
						<div id="popupContact">
						<!-- Contact Us Form -->
						<form  name="myForm" onsubmit="return validateForm()" id="regsche" method="post" action="/group_player/regSchedule">
						<img id="close" src="images/3.png" onclick ="div_hideadddate()">
						<h2>Add Schedule</h2>
						<hr>
							Playlist :<select id="playlistToSch" name="playlistToSch" class="form-control">
							<option disabled selected value> -- select playlist for deploy--</option>
							</select>
			
							DateStart : <input id="dateStart" name="dateStart" type="date" class="form-control">
							TimeStart : <input id="timeStart" name="timeStart" type="time" class="form-control">
							DateEnd : <input id="dateEnd" name="dateEnd" type="date" class="form-control">
							TimeEnd : <input id="timeEnd" name="timeEnd" type="time" class="form-control">
							<input id="add" class="btn btn-success" type="submit" value="Add">
							<div id="groupId"></div>			
							 
				    	
				      </form>
						</div>
						<!-- Popup Div Ends Here -->
						</div>	
						
	
	<div id="wrapper" class="container">
  			<div class="panel-group">
   			<div class="panel panel-success">
   	   		<div class="panel-heading"><p id="headText">Players Group</p></div>
      			<div class="panel-body">
      			
      			
		<div id="sec_wrapper" name="sec_wrapper">
			<section>
			
			</section>
			<aside>

				<div id="form1" class="form-group">
					
				</div>

				

				
				
				<table class="table table-condensed">
					<tr id="head-player">
						<th id="player"><h4>Name</h4></th>
						<th id="player"><h4>IP Address</h4></th>
						<th id="player"><h4>Mac Address</h4></th>
						<th id="player"><h4>Location</h4></th>
						<th id="player"><h4>Status</h4></th>
						<th id="player"><h4>Group</h4></th>
					</tr>
					<tbody id="list">
						
					</tbody>
				</table>
				<button class="btn btn-success" onclick="div_showadddate()">Add Schedule<br></button>
				<table class="table table-condensed">
					<tr id="head-schedule">
						<th id="no"><h4>No.</h4></th>
						<th id="pList"><h4>Playlist</h4></th>
						<th id="d2s" ><h4>Date to start</h4></th>
						<th id="t2s" ><h4>Time to start</h4></th>
						<th id="d2e" ><h4>Date to end</h4></th>
						<th id="t2e" ><h4>Time to end</h4></th>
						<th id="save" ></th>
					</tr>
					<tbody id="addSchedule"></tbody>
				</table><br><br>
				

				
				
			</aside>
		</div>
		
		
					</div>							
      			</div>
	    		</div>
    		</div>
</body>
</html>