html
	head
		title= title
		link(href='css/main.css', rel='stylesheet')

	body
		from(name='login', method='POST', action='login')
			div
				label(for='username') Username
				input(type='text', name='username')
			div
				label(for='password') Password
				input(type='password', name='password')
			div
				button(type='submit', value='login') Log in
