<!DOCTYPE html>
<html>
    <head>
        <title>HOME</title>
        <link rel="stylesheet" type="text/css" href="css/menu.css">
        
    </head>
<body>
    <section>
        <nav>
          <ul>
              <span class="glyphicon glyphicon-search" aria-hidden="true"></span>` 
              <li><a class="active" href="/">Home</a></li>
              <li><a href="/playlist">Playlist</a></li>
              <li><a href="/assets">Assets</a></li>
              <li class="dropdown">
                <a href="#" class="dropbtn">Manage Player</a>
              <div class="dropdown-content">
                  <a href="/player">Players</a>
                  <a href="/group">Groups</a>
              </div>
              </li>
              <li><a href="/setting">Setting</a></li>
          </ul>
        </nav>
    </section>

</body>
</html>
