<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
	 <link rel="stylesheet" type="text/css" href="css/login.css">
	 <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
</head>

<body>
	<section>
		<div id="div1">
			
		</div>
	</section>
	<section>

		<div class="form-inline" align="center">
		<center><img src="images/logo.png"></center>
			<form id="login" method="post" action="/login">
		 			<label for="username">Username</label><br>
					<input  type="text" name="username"  placeholder="Username" ><br>
					<label for="password">Password</label><br>
					<input type="password" name="password"  placeholder="Password"><br>
				<div id="divsubmit">					
					<button id="btnlogin" type="submit" class="btn btn-primary" value="login">Sing In</button><br>
				</div>
				
			</form>
		</div>
	</section>
</body>
</html>