<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Sample File Upload</title>
    <link rel="stylesheet" type="text/css" href="/css/menu.css">
    <link rel="stylesheet" type="text/css" href="/css/playlistOrder.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <script src="https://cdn.socket.io/socket.io-1.3.3.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="js/my_js.js"></script>
	<script src="js/w3data.js"></script>
	<script type="text/javascript">
		var socket = io();
		var i;
		var string = '';
		var id = getUrlVars()["id"];

		socket.emit('playlist-assets-main-zone', id);

		socket.on('playlist-assets-main-zone', function(message){

			if(message[0].layoutCode != '1' && message[0].layoutCode != null){
				getSlideZone();
			}else if(message[0].layoutCode == null || message[0].layoutCode == '1' || message.length <= 0){
				var slide = document.getElementById("sec_slide");
				slide.style.display = 'none';
				var main = document.getElementById("sec_main");
				main.style.maxWidth = "1100px";
				main.style.width = "100%";
			}
			var list = document.getElementById("list");

			var string = '';

			for(i = 0; i < message.length; i++){
				//string += "<tr><td>"+message[+"</a></td></tr>";
				//string += "<td>"+message[i].description+ "</td></tr>";
				if(message[i].type == 'image'){
					string += "<tr><td><img src=\"/assets/"+message[i].assetsName+"\" width=\"50px\" height=\"50px\"></td>";
					
				}else if(message[i].type == 'video'){
					string += "<tr><td><video src=\"/assets/"+message[i].assetsName+"\" width=\"50px\" height=\"50px\" 	controls></td>";
					
				}
				string += "<td>Name: <a href=\"/show?id="+message[i].assetsId+"\">"+message[i].assetsName+"</a><br>";
				string += "Type: "+message[i].type+"<br></td>";
			
				if(message[i].apId != null){
					if(message[i].format == 'file'){

						string += "<td id=\""+message[i].assetsId+"select\"><div class=\"form-inline\">Format <select  class=\"form-control\" name=\"format\">\
								<option value=\"file\" selected>File</option>\
								<option value=\"url\">URL</option></select></div><br>\
								<div class=\"form-inline\">time : <input id=\"time\" type=\"number\" name=\"time\" min=\"-1\"  value="+message[i].time_sec+" class=\"form-control\"> sec <br>(set -1 is display to end)</div></td>";
					}else if(message[i].format == 'url'){
						string += "<td id=\""+message[i].assetsId+"select\"><div class=\"form-inline\">Format <select class=\"form-control\" name=\"format\" >\
								<option value=\"file\">File</option>\
								<option value=\"url\" selected>URL</option></select></div><br>\
								<div class=\"form-inline\">time : <input id=\"time\" type=\"number\" name=\"time\" min=\"-1\" value="+message[i].time_sec+" class=\"form-control\"> sec <br>(set -1 is display to end)</div></td>";		
					}else{
						string += "<td id=\""+message[i].assetsId+"select\"><div class=\"form-inline\">Format <select  class=\"form-control\" name=\"format\">\
								<option value=\"file\" selected>File</option>\
								<option value=\"url\" >URL</option></select><br></div>\
								<div class=\"form-inline\">time : <input id=\"time\" type=\"number\" name=\"time\" min=\"-1\" value="+message[i].time_sec+" class=\"form-control\"> sec <br>(set -1 is display to end)</div></td>";
					}

					if(message[i].position == 'M'){
						string += "<td><input id=\""+message[i].assetsId+"\" type=\"checkbox\" name=\"a\" value="+message[i].assetsId+" onclick=\"showFormat("+message[i].assetsId+")\" checked=\"a\"><br></td></tr>";
					}else{
						string += "<td><input id=\""+message[i].assetsId+"\" type=\"checkbox\" name=\"as\" value="+message[i].assetsId+" onclick=\"showFormat("+message[i].assetsId+")\" checked=\"a\"><br></td></tr>"
					}

				}else{
					string += "<td id=\""+message[i].assetsId+"select\"></td>";
					string += "<td><input id=\""+message[i].assetsId+"\" type=\"checkbox\" name=\"a\" value="+message[i].assetsId+" onclick=\"showFormat("+message[i].assetsId+")\"><br></td></tr>";
				}
				
			}
			list.innerHTML = string;
			
			
		});
		function showFormat(id){
			var eId = document.getElementById(id);
			var formatId = document.getElementById(id+"select");
			string = '';
			if(!eId.checked){
				string = ' ';

			}else{

				string += "<div class=\"form-inline\">Format <select class=\"form-control\" name=\"format\">\
							<option value=\"file\"  selected>File</option>\
							<option value=\"url\" >URL</option></select></div><br>\
							<div class=\"form-inline\">time : <input id=\"time\" class=\"form-control\" type=\"number\" name=\"time\" min=\"-1\"> sec <br>(set -1 is display to end)</div>";
			}

			formatId.innerHTML = string;
		}
		function showFormats(id){
			
			var eId = document.getElementById(id+"s");
			var formatId = document.getElementById(id+"selects");
			string = '';
			if(!eId.checked){
				string = ' ';

			}else{

				string += "<div class=\"form-inline\">Format <select class=\"form-control\" name=\"formats\">\
							<option value=\"file\"  selected>File</option>\
							<option value=\"url\" >URL</option></select></div><br>\
							<div class=\"form-inline\">time : <input id=\"time\" class=\"form-control\" type=\"number\" name=\"times\" min=\"-1\"> sec <br>(set -1 is display to end)</div>";
			}

			formatId.innerHTML = string;
		}

		function getSlideZone(){

			var id = getUrlVars()["id"];
			socket.emit('playlist-assets-slide-zone', id);

		}
		socket.on('playlist-assets-slide-zone', function(message){
			var list = document.getElementById("slide");
			var string = '';

			for(i = 0; i < message.length; i++){
				//string += "<tr><td>"+message[+"</a></td></tr>";
				//string += "<td>"+message[i].description+ "</td></tr>";
				if(message[i].type == 'image'){
					string += "<tr><td><img src=\"/assets/"+message[i].assetsName+"\" width=\"50px\" height=\"50px\"></td>";
					
				}else if(message[i].type == 'video'){
					string += "<tr><td><video src=\"/assets/"+message[i].assetsName+"\" width=\"50px\" height=\"50px\" 	controls></td>";
					
				}
				string += "<td>Name: <a href=\"/show?id="+message[i].assetsId+"\">"+message[i].assetsName+"</a><br>";
				string += "Type: "+message[i].type+"<br></td>";
			

				if(message[i].apId != null){
					if(message[i].format == 'file'){

						string += "<td id=\""+message[i].assetsId+"selects\"><div class=\"form-inline\">Format <select  class=\"form-control\" name=\"formats\">\
								<option value=\"file\" selected>File</option>\
								<option value=\"url\">URL</option></select></div><br>\
								<div class=\"form-inline\">time : <input id=\"time\" type=\"number\" name=\"times\" min=\"-1\"  value="+message[i].time_sec+" class=\"form-control\"> sec <br>(set -1 is display to end)</div></td>";
					}else if(message[i].format == 'url'){
						string += "<td id=\""+message[i].assetsId+"selects\"><div class=\"form-inline\">Format <select class=\"form-control\" name=\"formats\" >\
								<option value=\"file\">File</option>\
								<option value=\"url\" selected>URL</option></select></div><br>\
								<div class=\"form-inline\">time : <input id=\"time\" type=\"number\" name=\"times\" min=\"-1\" value="+message[i].time_sec+" class=\"form-control\"> sec <br>(set -1 is display to end)</div></td>";		
					}else{
						string += "<td id=\""+message[i].assetsId+"selects\"><div class=\"form-inline\">Format <select  class=\"form-control\" name=\"formats\">\
								<option value=\"file\" selected>File</option>\
								<option value=\"url\" >URL</option></select><br></div>\
								<div class=\"form-inline\">time : <input id=\"time\" type=\"number\" name=\"times\" min=\"-1\" value="+message[i].time_sec+" class=\"form-control\"> sec <br>(set -1 is display to end)</div></td>";
					}

					if(message[i].position == 'S'){
						string += "<td><input id=\""+message[i].assetsId+"s\" type=\"checkbox\" name=\"as\" value="+message[i].assetsId+" onclick=\"showFormats(\""+message[i].assetsId+"s\")\" checked=\"a\"><br></td></tr>";
					}else{
						string += "<td><input id=\""+message[i].assetsId+"s\" type=\"checkbox\" name=\"as\" value="+message[i].assetsId+" onclick=\"showFormats(\""+message[i].assetsId+"s\")\" checked=\"a\"><br></td></tr>"
					}

				}else{
					string += "<td id=\""+message[i].assetsId+"selects\"></td>";
					string += "<td><input id=\""+message[i].assetsId+"s\" type=\"checkbox\" name=\"as\" value="+message[i].assetsId+" onclick=\"showFormats("+message[i].assetsId+")\"><br></td></tr>";
					//alert(message[i].assetsId.toString()+"s");
				}
				
				
			}
			list.innerHTML = string;
			
			
		});


		getTicker();

		function getTicker(){
			var id = getUrlVars()["id"];
			socket.emit('ticker', id);

			socket.on('ticker', function(message){
				var string = ' ';
				if(message != null){
					string += "<p>Message : "+message[0].tickerMessage+'<br>';
					string += "Behavior : "+message[0].behavior+'</p>';
					string += "<input id=\"clear\" class=\"btn btn-success\" type=\"submit\" value=\"Clear Ticker\" onclick=\"clearTicker()\">";
				}
				
				var list = document.getElementById("show_ticker");
				list.innerHTML = string;	
			});
		}
		function getLayout(){
			var id = getUrlVars()["id"];
			socket.emit('layout', id);

			socket.on('layout', function(message){
				var string = ' ';
				var text = ' ';
				var index = 0;
				if(message != null){

					for(var i=0; i<message.length; i++){
						if(message[i].apId == null){
							string += '<tr><td><input type=\"radio\" name=\"select\" value=\"'+message[i].layoutId+'\"> '+message[i].layoutCode+' : '+message[i].layoutName+'</td><tr>';
						}else{
							if(index == 0){
								string += '<tr><td><input type=\"radio\" name=\"select\" value=\"'+message[i].layoutId+'\" checked> '+message[i].layoutCode+' : '+message[i].layoutName+'</td><tr>';
								text = message[i].layoutCode;
								index = index+1;
							}
							

						}
						
					}
					
				}
				
				var list = document.getElementById("list_layout");
				list.innerHTML = string;
				var button_text = document.getElementById("button_text");
				button_text.innerHTML = 'Layout ('+text+')';		
			});
		}

		function clearTicker(){
			var id= getUrlVars()['id'];
			socket.emit('clear_ticker', id);
			var list = document.getElementById("show_ticker");
			list.innerHTML = ' ';
		}

		function getUrlVars()
		{
		    var vars = [], hash;
		    var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
		    for(var i = 0; i < hashes.length; i++)
		    {
		        hash = hashes[i].split('=');
		        vars.push(hash[0]);
		        vars[hash[0]] = hash[1];
		    }
		    return vars;
		}

		window.onload = function(){
			var form = document.getElementById('popupContact');
			var string = 
			"<form class=\"popup\" name=\"setTicker\" method=\"POST\" action=\"/playlist/ticker?id="+getUrlVars()['id']+ "\" onsubmit=\"return validateForm()\">"
				+"<img id=\"close\" src=\"images/3.png\" onclick =\"div_hideTicker()\">"
				+"<h2>Set Ticker</h2>"
				+"<label for=\"ticker\">Ticker : </label>"
				+"<textarea id=\"ticker\" name=\"ticker\" class=\"form-control\" rows=\"4\"></textarea>"
				+"<label for=\"behavior\">Behavior : </label>"
				+"<select class=\"form-control\" name=\"behavior\" id=\"behavior\">"
					+"<option value=\"scoll\">Scoll</option>"
					+"<option value=\"slide\">Slide</option>"
				+"</select>"
				+"<button id=\"save\" class=\"btn btn-success\" type=\"submit\">Save</button>"
			+"</form>";
			form.innerHTML = string;

			form = document.getElementById('popupLayout');
			string = 
			"<form class=\"popup\" name=\"setLayout\" method=\"POST\" action=\"/playlist/layout?id="+getUrlVars()['id']+ "\" onsubmit=\"return validateForm()\">"
				+"<img id=\"close\" src=\"images/3.png\" onclick =\"div_hideLayout()\">"
				+"<h2>Set Layout</h2>"
				+"<button id=\"save\" class=\"btn btn-success\" type=\"submit\">Save</button>"
				+"<table class=\"table table-bordered\"><tr>"
					
					+"<tbody id=\"list_layout\"></tbody>"
				+"</tr></table>"
			+"</form>";
			form.innerHTML = string;
			var hide = document.getElementById('hide');
			hide.innerHTML = "<input name=\"playlistId\" type=\"hidden\" value=\"getUrlVars[\"id\"]\">";
		}

		/*<form class="popup" name="setTicker" method="POST" action="/playlist/ticker" onsubmit="return validateForm()">
				<img id="close" src="images/3.png" onclick ="div_hideTicker()">
				<h2>Set Ticker</h2>
				<label for="ticker">Ticker : </label>
				<textarea id="ticker" name="ticker" class="form-control" rows="4"></textarea>
				<label for="behavior">Behavior : </label>
				<select class="form-control" name="behavior" id="behavior">
					<option value="scoll">Scoll</option>
					<option value="slide">Slide</option>
				</select>
				<button id="save"class="btn btn-success" type="submit">Save</button>
			</form>*/
		getLayout();

	</script>
</head>
<body>
	<div  w3-include-html="/menu.html"></div>
	<script id="menu">w3IncludeHTML();</script> 
	
	<div id="show_ticker">
		
	</div>
	
	<div id="form_ticker">
		<div id="popupContact">

			
		</div>
	</div>

	<div id="form_layout">
		<div id="popupLayout">

			
		</div>
	</div>
	<div id="wrapper" class="container">
  			<div class="panel-group">
   			<div class="panel panel-success">
   	   		<div class="panel-heading"><p id="headText">Playlist</p></div>
      			<div class="panel-body">	
	
	<table>
		<tr>
			<th id="ticker"><button id="button" class="btn btn-success" type="submit" onclick="div_showTicker()">Set Ticker</button></th>
			<th id="layout"><button id="button" class="btn btn-success" type="submit" onclick="div_showLayout()"><font id="button_text">Layout</font></button>
			</th>
		</tr>
	</table>
	
	
	
	
	<form id="addToPlaylist" name="addToPlaylist" method="post" action="/playlist/addTo">
		<div id="hide"></div>
		<aside id="sec_main">
			<div id="wrapper">
				<div id="sec_wrapper" name="sec_wrapper">
					
						
							<table class="table table-bordered">	
								<tr>
									<th id="main" colspan="4">Main Zone</th>
								</tr>
								
								<tr>
									<th id="front"></th>
									<th id="ass">Assets</th>
									<th id="mid">Setting</th>
									<th id="check"><input  class="btn btn-primary" type="submit" value="Save"></th>
								</tr>
								<tbody id="list">
									
								</tbody>
							</table>
				</div>
			</div>
		</aside>
		
		<section id="sec_slide">
			<div id="wrapper">
				<div id="sec_wrapper" name="sec_wrapper">
					
							<table class="table table-bordered">	
								<tr>
									<th id="main" colspan="4">Slide Zone</th>
								</tr>
								
								<tr>
									<th id="front"></th>
									<th id="ass">Assets</th>
									<th id="mid">Setting</th>
									<th id="check"><input  class="btn btn-primary" type="submit" value="Save"></th>
								</tr>
								<tbody id="slide">
									
								</tbody>
							</table>
						
						
					
				</div>
			</div>
		</section>
	</form>
	
	
				</div>							
      			</div>
	    		</div>
    		</div>

</body>
</html>