<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Playlist</title>
    <link rel="stylesheet" type="text/css" href="/css/menu.css">
    <link rel="stylesheet" type="text/css" href="/css/playlist.css">
    <link href="css/elements.css" rel="stylesheet">
    <script src="js/my_js.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.3.3.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	
	<script type="text/javascript">
		var socket = io();
		var i;
		var count = 0;
		socket.emit('route', 'playlist');
		socket.on('playlist', function(message){
			var string = '';
			var list = document.getElementById("list");
			if(message.length <= 0){
				string += "<tr><td colspan=3 style=\"text-align: center;  vertical-align: middle; height:200px\"><h4>No Playlist</h4></td></tr>";
			}else{
				for(i = 0; i < message.length; i++){
					count = count+1;
					string += "<tr id=\""+message[i].playlistId+"\"><td><h4><a href=\"/playlistList?id="+message[i].playlistId+"\">"+message[i].playlistName+"</a></h4></td>";
					string += "<td><h4>"+message[i].description+ "<h4></td>";
					string += "<td><a onclick=\"editPlaylist(\'"+message[i].playlistId+"\',\'"+message[i].playlistName+"\',\'"+message[i].description+"\')\">edit</a></td>";
					string += "</tr>";
				}
			}
			
			list.innerHTML = string;
			
			
		});
		function editPlaylist(id, name, description){
			var edit = document.getElementById(id);
			var string = ' ';
			string += "<td id=\"edit\"><center><input id=\"name\" name=\""+id+"name\" type=\"text\" class=\"form-control input-sm\" value=\""+name+"\"></center></td>";
			string += "<td id=\"edit\"><center><input id=\"des\" name=\""+id+"des\" type=\"text\" class=\"form-control input-sm\" value=\""+description+"\"></center></td>";
			string += "<td id=\"edit\"><center><a onclick=\"hideEditPlaylist(\'"+id+"\')\">Save</a> <a onclick=\"deletePlaylist(\'"+id+"\',\'"+name+"\')\">Delete</a></center></td>";
			edit.innerHTML = string;
		}

		function hideEditPlaylist(id){
			var name = document.getElementsByName(id+'name')[0].value;
			var des = document.getElementsByName(id+'des')[0].value;
			var form = document.getElementById(id);
			var string = ' ';
			string += "<td><h4><a href=\"/playlistList?id="+id+"\">"+name+"</a></h4></td>";
			string += "<td><h4>"+des+"</h4></td>";
			string += "<td><a onclick=\"editPlaylist(\'"+id+"\',\'"+name+"\',\'"+des+"\')\">edit</a></td>";
			form.innerHTML = string;
			socket.emit('update-playlist',{id, name, des});		
		}
		function deletePlaylist(id, name){
			if(confirm("delete playlist: "+name)){
				count = count-1;
				var del = document.getElementById(id);
				var string = ' ';
				

				socket.emit('delete-playlist', id);
				if(count == 0){
					//socket.emit('route', 'playlist');
					string += "<tr><td colspan=3 style=\"text-align: center;  vertical-align: middle; height:200px\"><h4>No Playlist</h4></td></tr>";
				}
				del.innerHTML = string;
			}
		}
	 </script>
	 <script>
		function validateForm() {
		    var x = document.forms["myForm"]["add"].value;
		    var xl = document.forms["myForm"]["description"].value;
		    if (x == null || x == "") {
		        document.getElementById('errorinput').style.display = "block";
		        return false;
		    }else {
		    	  document.getElementById('errorinput').style.display = "none";
		    }
		    if (xl == null || xl == "") {
		        document.getElementById('errorinput2').style.display = "block";
		        return false;
		    }else {
					document.getElementById('errorinput2').style.display = "none";		    	
		    }
		}
		
		function div_hideerrorinput(){
		document.getElementById('errorinput').style.display = "none";
		
		}
		
		function div_hideerrorinput2(){
		document.getElementById('errorinput2').style.display = "none";
		
		}
	</script>
	<script src="js/w3data.js"></script>
	 <div id="menu" w3-include-html="menu.html"></div>
	<script id="menu">w3IncludeHTML();</script> 
</head>
<body>
						<div id="abcplaylist">
						<!-- Popup Div Starts Here -->
						<div id="popupContact">
						<!-- Contact Us Form -->
						<form name="myForm" id="addPlaylist" onsubmit="return validateForm()" method="post" action="/playlist/add">
						<img id="close" src="images/3.png" onclick ="div_hideplaylist()">
						<h2>Insert Playlist</h2>
						<hr>
						<div id="errorinput">
						<div class="alert alert-danger">
						   Please enter Name Playlist fields.
						</div>
						</div>
						<script >div_hideerrorinput();</script> 		
						
						
						<div id="errorinput2">
						<div class="alert alert-danger">
						   Please enter Short Description fields.
						</div>
						</div>
						<script >div_hideerrorinput2();</script> 					
						
						Name Playlist<br>
						<input type="text" id="add" name="add" ><br><br>
						Short Description<br>
						<input type="text" id="description" name="description" ><br><br>
						<input id="buttonsub" class="btn btn-success" type="submit" value="Add">
				      </form>
						</div>
						<!-- Popup Div Ends Here -->
						</div>					
				
				
		


	
		<div id="wrapper" class="container">
  			<div class="panel-group">
   			<div class="panel panel-success">
   	   		<div class="panel-heading">Playlist</div>
      			<div class="panel-body">
      			
      			
			<section>
				<button id="insert" type="button" onclick="div_showplaylist()" class="btn btn-success">Insert Playlist</button>
				
			</section>

			<aside>
				<table class="table table-condensed">
					<tr>
						<th id="playlist"><h4 class="title_table">Playlist</h4></th>
						<th id="des"><h4 class="title_table" colspan="2">Description</h4></th>
						<th id="editBut"></th>
						
					</tr>
					<tbody id="list">
						
					</tbody>
				</table>
				
			</aside>
						
					  </div>							
				</div>
	 		</div>
 		</div>
			
			
		
		<footer>
			
		</footer>
	</div>

</body>
</html>