<!DOCTYPE html>
<html>
    <head>
        <title>Setting</title>
        <link rel="stylesheet" type="text/css" href="/css/setting.css">
  		  <script src="js/w3data.js"></script>
  		  <div w3-include-html="menu.html"></div>
		  <script>w3IncludeHTML();</script> 
    </head>
<body>

		<div id="wrapper" class="container">
  			<div class="panel-group">
   			<div class="panel panel-success">
   	   		<div class="panel-heading">Setting</div>
      			<div class="panel-body" style="height:500px">
      			 <button class="btn btn-success">Change Password</button><button id="add" class="btn btn-success">Add User</button>
      			
					</div>							
      			</div>
	    		</div>
    		</div>
</body>
</html>
